<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Site info -->
  <title>{{ site.title }}</title>
  <meta name="author" content="Dan Ford">
  <meta name="title" content="Dan Ford">
  <meta name="description" content="Owner of Windrose Maps. Author and Illustrator of Map Projections for Babies. Conservationist passionate about land preservation.">

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/favicon.ico' | relative_url }}">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://www.danford.us/">
  <meta property="og:title" content="Dan Ford">
  <meta property="og:description" content="Owner of Windrose Maps. Author and Illustrator of Map Projections for Babies. Conservationist passionate about land preservation.">
  <meta property="og:image" content="{{ '/assets/images/meta-card.jpg' | relative_url }}">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="http://www.danford.us/">
  <meta property="twitter:title" content="Dan Ford">
  <meta property="twitter:description" content="Owner of Windrose Maps. Author and Illustrator of Map Projections for Babies. Conservationist passionate about land preservation.">
  <meta property="twitter:image" content="{{ '/assets/images/meta-card.jpg' | relative_url }}">

  <!-- Font Awesome CDN -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

  <!-- Bootstrap CSS CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <!-- Animate CSS CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css" type="text/css"/>

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" type="text/css">

</head>
