body {
  font-family: "Cabin", sans-serif;
}

.badge {
  font-weight: 500;
}

a {
    color: $primary;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1.0rem;
}

.text-primary {
    color: $secondary!important;
}

.border-primary {
    border-color: $secondary!important;
}

.badge-dark {
    color: #fff;
    background-color: $secondary;
}

.btn-outline-primary {
    color: $primary;
    border-color: $primary;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: $primary;
    border-color: $primary;
}

.bg-primary {
    background-color: $secondary!important;
}

#main-subtitle {
    font-size: 0.9rem;
}

.form-control:focus {
    color: $secondary;
    background-color: #fff;
    border-color: $primary;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: none;
}

.mark, mark {
    padding: .3em;
    background-color: $highlight;
}

@media (min-width: 576px) {
  .jumbotron {
      padding: 2rem;
  }

  .jumbotron > div {
    padding: 1rem;
  }

  .jumbtron-text {
    padding: 1rem;
  }

}
