.cta-top.card {
  text-decoration: none !important;
  color: #6c757d;
  border: none !important;
  margin-top: 3rem !important;
  transition: transform 400ms;

  &:hover:not(.post) {
    transform: translateY(-2px);
    box-shadow: -1px 2px 20px -10px rgba(0, 0, 0, 0.24);
  }
}

.cta-bottom.card {
  text-decoration: none !important;
  color: #6c757d;
  border: none !important;
  margin-top: 1rem !important;
  transition: transform 400ms;

  &:hover:not(.post) {
    transform: translateY(-2px);
    box-shadow: -1px 2px 20px -10px rgba(0, 0, 0, 0.24);
  }
}

@media (max-width: 767.98px) {
    .cta-top.card {
      margin-top: 0.8rem !important;
      }
    .cta-bottom.card {
      margin-top: 0.8rem !important;
      }
}
