<div class="jumbotron d-flex">
  <div class=".d-sm-none align-self-center">
    <img src="/assets/images/map-projections-for-babies.png" class="img-thumbnail rounded float-left" alt="...">
  </div>
  <div class="jumbotron-text align-self-center">
    <h3 class="">Need the book?</h3>
    <p class="font-weight-light">Get your copy today! A perfect gift for the special baby or map nerd in your life.</p>
    <a class="btn btn-outline-secondary btn-sm" href="https://www.windrosemaps.com/collections/babys-first-map/products/map-projections-for-babies-board-book?variant=39905323057317" role="button">Buy the book</a>
  </div>
</div>
