<p>Hi, I'm {{ site.author.name }} :wave:</p>

<p>I studied environmental science earning a triple major in agriculture and natural resource management, wildlife ecology, and entomology at the University of Delaware. After taking a course in geographical information systems, I also became deeply interested in mapping and cartography.</p>

<p>I was able to grow my knowledge in both environmental science and mapping while working on natural resource protection, regulatory compliance, and siting projects at consulting and engineering firms. I expanded my skillset while working at a geospatial software company, contributing to community projects that had a positive civic, social, and environmental impact.</p>

<p>Now, I'm excited to be able to apply my experience to focus on land and natural resource protection at a nonprofit land trust.</p>

<p>I love to learn, and spend most of my free time [after the baby goes to sleep] studying new software technologies, building my knowledge in programming, and designing maps.</p>
