<p>Hi, I'm {{ site.author.name }} :wave:</p>

<p>I studied environmental science earning a triple major in agriculture and natural resource management, wildlife ecology, and entomology at the University of Delaware. After taking a course in geographical information systems (GIS), I also became deeply interested in mapping and cartography.</p>

<p>I was able to grow my knowledge in both environmental science and mapping while working on natural resource protection, regulatory compliance, and siting projects at consulting and engineering firms. I expanded my skillset while working at a geospatial software company, contributing to community projects that had a positive civic, social, and environmental impact. Then, I moved out of the city to work more directly on conservation projects, helping to acquire and steward preserved land with a regional land trust.</p>

<p>Now, I'm excited to be able to combine my tech and conservation experience for international impact at a conservation tech company where we focus on improving the efficiency of land conservation work.</p>

<p>I love to learn, and spend most of my free time [after the kids goes to sleep] studying new software technologies, building my knowledge in programming, and designing maps.</p>
